main {
    width: 100%;
    background: none;
    .main-img-items {
        width: 100%;
        height: 100%;
        .kisland1 {
            margin-top: 100px;
            width: 100%;
            text-align: center;
            figure {
                width: 100%;
                height: 651px;
                background: url(../imgs/banner/scamp_bg1\ \(1\).jpg);
                background-position: center top;
                margin: 0;
                img {
                    display: none;
                }
            }
        }
        .kisland2 {
            width: 100%;
            text-align: center;
           > figure {
                img {
                    width: 100%;
                    max-width: 1100px;
                }
            }
        }
        .kisland3 {
            width: 100%;
            text-align: center;
           > figure {
            background-image: url(../imgs/banner/kislandcamping3.jpg);
            width: 100%;
            margin: 0;
            background-position: center bottom;
                img {
                    width: 100%;
                    max-width: 1100px;
                }
            }
        }
        .kisland4 {
            width: 100%;
            text-align: center;
           > figure {
            width: 100%;
            margin: 0;
                img {
                    width: 100%;
                    max-width: 1100px;
                }
            }
        }
        .kisland5 {
            width: 100%;
            text-align: center;
           > figure {
            width: 100%;
            margin: 0;
            background-color: #25AE60;
            background-position: bottom;
            img {
                    width: 100%;
                    max-width: 1100px;
                }
            }
        }
    }
}
@media(max-width:950px){
    main {
        width: 100%;
        background: none;
        .main-img-items {
            width: 100%;
            height: 100%;
            .kisland1 {
                margin-top: 100px;
                width: 100%;
                text-align: center;
                figure {
                    width: 100%;
                    height: 100%;
                    background: none;
                    margin: 0;
                    img {
                        display: block;
                        width: 100%;
                    }
                }
            }
        }
    }
}