// 미디어 폰트 사이즈
// $header-min1400: 24px;
// $header-max1400: 1.71vw;
// $header-max950: 16px;
// $header-max768: 20px;

// $drop-max1400: 1.43vw;
// $drop-max950: 13px;
// $drop-max768: 18px;
// 미디어 폰트 사이즈

/* 모바일 */

/* 태블릿 가로사이즈 / 작은 PC 모니터 */
@media (max-width: 768px) {
    header {
        width: 100%;
        margin: 0 auto;
        position: fixed;
        top: 0px;
        left: 0px;
        right: 0px;
        padding: 10px;
        height: 100px;
        background-color: rgba(255, 255, 255, 0.8);
        box-shadow: 0 2px 2px rgb(0, 0, 0, 0.2);
        z-index: 99;
        .header-container {
            width: 100%;
            max-width: 1800px;
            margin: 0 auto;
            height: 100%;
            align-items: center;
            justify-content: space-between;
            display: flex;
            position: relative;
            .mobile-menu {
                &:hover {
                    cursor: pointer;
                }
                .menu-ico {
                    width: 50px;
                    height: 50px;
                    font-size: 50px !important;
                    display: block;
                    color: var(--color-t-title);
                    transition: 1s;
                }
                .menu-close {
                    width: 50px;
                    height: 50px;
                    font-size: 50px !important;
                    color: var(--color-t-title);
                    transition: 1s;
                    display: none;
                }
                .mobile-dropdown {
                    // display: none;
                    position: fixed;
                    top: 100px;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    text-align: center;
                    background-color: #fffffffe;
                    opacity: 0.95;
                    .mobile-dropdown-container {
                        width: 100%;
                        height: 50%;
                        ul {
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            margin-top: 250px;
                            left: 0;
                            width: 100%;
                            li {
                                display: flex;
                                flex-direction: column;
                                margin-bottom: 20px;
                                font-size: 20px;
                                padding: 10px;

                                a {
                                    padding: 10px 10px;
                                }

                                &:hover::after {
                                    opacity: 1;
                                    transform: scaleY(1);
                                }

                                &::after {
                                    content: "";
                                    width: 100%;
                                    height: 4px;
                                    transition: opacity 1s, transform 1s;
                                    background-color: var(--color-salmon);
                                    transform-origin: bottom;
                                    opacity: 0;
                                    transform: scaleX(0);
                                }
                            }
                        }
                    }
                }
            }
            .header-logo {
                a {
                    img {
                        max-width: 100%;
                        min-width: 183px;
                    }
                }
            }
            > .main-menu {
                width: 100%;
                display: flex;
                justify-content: space-between;
                text-align: center;
                display: none;
                > li {
                    position: relative;
                    top: 0;
                    width: 25%;
                    height: 100%;
                    font-size: 1.71vw;
                    display: flex;
                    flex-direction: column;
                    ul {
                        width: 100%;
                        position: absolute;
                        top: 70px;
                        left: 0;
                        li {
                            width: 100%;
                            text-align: center;
                            font-size: 1.43vw;
                            padding: 10px 0px;
                            display: none;
                            height: 50px !important;
                            z-index: 50;
                            transition: 0.5s;
                            a {
                                color: white;
                            }
                        }
                    }
                    a {
                        &:hover::after {
                            opacity: 1;
                            transform: scaleY(1);
                        }
                        &::after {
                            content: "";
                            width: 100%;
                            height: 4px;
                            transition: opacity 1s, transform 1s;
                            background-color: var(--color-salmon);
                            transform-origin: bottom;
                            opacity: 0;
                            transform: scaleX(0);
                        }
                    }
                }
            }
            .audio-container {
                width: 100%;
                display: flex;
                padding: 0px 20px;
                display: none;
                a {
                    img {
                        width: 25px;
                        height: 25px;
                    }
                }
            }
        }
    }
    main {
        width: 100%;
        margin: 0 auto;
        max-width: 1920px;
        .dropdown-frame {
            position: fixed;
            display: none;
            width: 100%;
            height: 160px;
            top: 100px;
            left: 0;
            background-color: var(--color-salmon);
            z-index: 49;
        }
        article:nth-of-type(1) {
            width: 100%;
            max-width: 1100px;
            height: 435px;
            margin: 0 auto;

            .swiper {
                width: 100%;
                max-width: 510px;
                margin: 0 auto;
                top: 28%;
                overflow: hidden;

                .swiper-slide {
                    width: 100%;
                    text-align: center;
                    font-size: 18px;
                    background: #fff;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    a {
                        width: 100%;
                        > div {
                            width: 100%;
                            height: 650px;
                            background-size: 100%;
                            background-repeat: no-repeat;
                        }
                    }
                }

                .slide-img1 {
                    background-image: url(../imgs/banner/mslide1.png);
                }
                .slide-img2 {
                    background-image: url(../imgs/banner/mslide2.png);
                }
                .slide-img3 {
                    background-image: url(../imgs/banner/mslide3.png);
                }

                .swiper-slide img {
                    display: block;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
                .swiper-next {
                    width: 41px;
                    height: 41px;
                    background: url(../imgs/icon/slide_arrow.png) center no-repeat;
                    z-index: 99;
                    position: absolute;
                    right: 1%;
                    top: 50%;
                    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
                    border-radius: 200px;
                    transform: translate(-50%) rotate(180deg);
                    transition: 0.5s;
                    &:hover {
                        cursor: pointer;
                    }
                }
                .swiper-prev {
                    width: 41px;
                    height: 41px;
                    background: url(../imgs/icon/slide_arrow.png) center no-repeat;
                    z-index: 99;
                    position: absolute;
                    left: 1%;
                    top: 50%;
                    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
                    transform: translate(50%);
                    transition: 0.5s;
                    border-radius: 200px;
                    &:hover {
                        cursor: pointer;
                    }
                }
                .swiper-pagination {
                    top: 100%;
                    .swiper-pagination-bullet {
                        margin-top: 20px;
                        width: 14px;
                        height: 14px;
                        background-color: var(--color-bullet);
                        &-active {
                            border: 2px solid red;
                            background-color: var(--color-white);
                        }
                    }
                }
            }
        }
        article:nth-of-type(2) {
            width: 100%;
            max-width: 1100px;
            display: flex;
            justify-content: center;
            margin: 0 auto;
            margin-top: 400px;
            margin-bottom: 52px;
            flex-direction: column;
            div {
                margin: 30px;
                ul:nth-of-type(1) {
                    display: flex;
                    justify-content: space-between;
                    font-size: 25px;
                    font-weight: bold;
                    color: var(--color-dark);
                    padding-bottom: 11px;
                }
            }
            .notice {
                width: 100%;
                margin: 0;
                padding: 20px;
                ul {
                    border-bottom: 1px solid red;
                    .borders {
                        border-bottom: 1px solid var(--color-borders);
                    }
                    .notice-title {
                        color: var(--color-t-title);
                        a {
                            color: var(--color-t-title);
                        }
                    }
                    li {
                        p {
                            padding: 12px 0px;
                            font-size: var(--table-size);

                            a {
                            }
                        }
                    }
                }
            }
            .FAQ {
                width: 100%;
                margin: 0;
                padding: 20px;
                ul {
                    border-bottom: 1px solid var(--color-gray);
                    .borders {
                        border-bottom: 1px solid var(--color-borders);
                    }
                    li {
                        p {
                            padding: 12px 0px;
                            font-size: var(--table-size);
                        }
                    }
                }
            }
        }
        section {
            width: 100%;
            height: 169vw;
            background: none;
            .main-banner {
                position: relative;
                padding: 0;
                figure:nth-of-type(1) {
                    text-align: center;
                    img {
                        display: none;
                        width: 100%;
                        content: url(../imgs/banner/map_m.png);
                        max-width: 100%;
                    }
                }
                figure:nth-of-type(2) {
                    padding: 100px 100px 100px 100px;
                    width: 100%;
                    height: 100%;
                    display: inline-block;
                    text-align: center;
                    margin: 0;
                    background: url(../imgs/banner/main_bn_m.jpg);
                    background-size: cover;
                    background-position: bottom;
                    img {
                        width: 100%;
                    }
                }
                map {
                    area {
                        &:hover {
                            cursor: pointer;
                        }
                    }
                }
            }
            .mobile-family {
                width: 100%;
                display: block;
            }
        }
    }
    footer {
        width: 100%;
        background-color: var(--color-footer);
        .footer-container {
            width: 100%;
            padding: 20px 10px;
            .footer-text {
                width: 100%;
                max-width: 1120px;
                margin: 0 auto;
                .footer-title {
                    color: var(--color-white);
                    font-size: 18px;
                    font-weight: 700;
                    margin-bottom: 15px;
                    padding-top: 20px;
                }
                .footer-ptags {
                    &:nth-child(1) {
                        padding: 10px;
                    }
                    color: var(--color-white);
                    font-size: 10px;
                    line-height: 1.7;
                    &:nth-of-type(4) {
                        margin-bottom: 20px;
                    }
                }
                .license {
                    color: var(--color-white);
                    font-size: 8px;
                    padding-bottom: 20px;
                }
            }
        }
    }
}
@media (min-width: 769px) and (max-width: 950px) {
    header {
        width: 100%;
        margin: 0 auto;
        position: fixed;
        top: 0px;
        left: 0px;
        right: 0px;
        padding: 10px;
        height: 100px;
        background-color: rgba(255, 255, 255, 0.8);
        box-shadow: 0 2px 2px rgb(0, 0, 0, 0.2);
        z-index: 99;
        .header-container {
            width: 100%;
            max-width: 1800px;
            margin: 0 auto;
            height: 100%;
            align-items: center;
            justify-content: space-between;
            display: flex;
            position: relative;
            .mobile-menu {
                &:hover {
                    cursor: pointer;
                }
                .menu-close {
                    display: none;
                }
                .menu-ico {
                    width: 50px;
                    height: 50px;
                    font-size: 50px;
                    display: block;
                    color: var(--color-t-title);
                    transition: 1s;
                }
                .menu-close {
                    width: 50px;
                    height: 50px;
                    font-size: 50px !important;
                    color: var(--color-t-title);
                    transition: 1s;
                    display: none;
                }
                .mobile-dropdown {
                    display: none;
                    position: fixed;
                    top: 100px;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    text-align: center;
                    background-color: #fffffffe;
                    opacity: 0.95;
                    .mobile-dropdown-container {
                        width: 100%;
                        height: 50%;
                        ul {
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            margin-top: 250px;
                            left: 0;
                            width: 100%;
                            li {
                                display: flex;
                                flex-direction: column;
                                margin-bottom: 20px;
                                font-size: 20px;
                                padding: 10px;

                                a {
                                    padding: 10px 10px;
                                }

                                &:hover::after {
                                    opacity: 1;
                                    transform: scaleY(1);
                                }

                                &::after {
                                    content: "";
                                    width: 100%;
                                    height: 4px;
                                    transition: opacity 1s, transform 1s;
                                    background-color: var(--color-salmon);
                                    transform-origin: bottom;
                                    opacity: 0;
                                    transform: scaleX(0);
                                }
                            }
                        }
                    }
                }
            }
            .header-logo {
                a {
                    img {
                        max-width: 100%;
                        min-width: 183px;
                    }
                }
            }
            > .main-menu {
                width: 100%;
                display: flex;
                justify-content: space-between;
                text-align: center;
                display: none;
                > li {
                    position: relative;
                    top: 0;
                    width: 25%;
                    height: 100%;
                    font-size: 16px;
                    display: flex;
                    flex-direction: column;
                    ul {
                        width: 100%;
                        position: absolute;
                        top: 70px;
                        left: 0;
                        li {
                            width: 100%;
                            text-align: center;
                            font-size: 13px;
                            padding: 10px 0px;
                            display: none;
                            height: 50px !important;
                            z-index: 50;
                            transition: 0.5s;
                            a {
                                color: white;
                            }
                        }
                    }
                    a {
                        &:hover::after {
                            opacity: 1;
                            transform: scaleY(1);
                        }
                        &::after {
                            content: "";
                            width: 100%;
                            height: 4px;
                            transition: opacity 1s, transform 1s;
                            background-color: var(--color-salmon);
                            transform-origin: bottom;
                            opacity: 0;
                            transform: scaleX(0);
                        }
                    }
                }
            }
            .audio-container {
                width: 100%;
                display: flex;
                padding: 0px 20px;
                display: none;
                a {
                    img {
                        width: 25px;
                        height: 25px;
                    }
                }
            }
        }
    }
    main {
        width: 100%;
        margin: 0 auto;
        max-width: 1920px;
        position: relative;
        .dropdown-frame {
            position: fixed;
            display: none;
            width: 100%;
            height: 160px;
            top: 100px;
            left: 0;
            background-color: var(--color-salmon);
            z-index: 49;
        }
        article:nth-of-type(1) {
            width: 100%;
            max-width: 1100px;
            height: 435px;
            margin: 0 auto;

            .swiper {
                width: 100%;
                margin: 0 auto;
                top: 28%;
                overflow: hidden;

                .swiper-slide {
                    width: 100%;
                    text-align: center;
                    font-size: 18px;
                    background: #fff;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    a {
                        width: 100%;
                        > div {
                            width: 100%;
                            height: 33vw;
                            background-size: 100%;
                            background-repeat: no-repeat;
                        }
                    }
                }

                .slide-img1 {
                    background-image: url(../imgs/banner/key_648a6e4dd6f70_1.png);
                }
                .slide-img2 {
                    background-image: url(../imgs/banner/key_645325d79d056_1.png);
                }
                .slide-img3 {
                    background-image: url(../imgs/banner/key_64532541a2b37_1.png);
                }

                .swiper-slide img {
                    display: block;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
                .swiper-next {
                    width: 41px;
                    height: 41px;
                    background: url(../imgs/icon/slide_arrow.png) center no-repeat;
                    z-index: 99;
                    position: absolute;
                    right: 1%;
                    top: 50%;
                    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
                    border-radius: 200px;
                    transform: translate(-50%) rotate(180deg);
                    transition: 0.5s;
                    &:hover {
                        cursor: pointer;
                    }
                }
                .swiper-prev {
                    width: 41px;
                    height: 41px;
                    background: url(../imgs/icon/slide_arrow.png) center no-repeat;
                    z-index: 99;
                    position: absolute;
                    left: 1%;
                    top: 50%;
                    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
                    transform: translate(50%);
                    transition: 0.5s;
                    border-radius: 200px;
                    &:hover {
                        cursor: pointer;
                    }
                }

                .swiper-pagination-bullet {
                    width: 10px;
                    height: 10px;
                    background-color: var(--color-bullet);
                    &-active {
                        border: 2px solid red;
                        background-color: var(--color-white);
                    }
                }
            }
        }
        article:nth-of-type(2) {
            width: 100%;
            max-width: 1100px;
            display: flex;
            justify-content: center;
            margin: 0 auto;
            margin-top: 10vw;
            margin-bottom: 52px;
            div {
                margin: 30px;
                ul:nth-of-type(1) {
                    display: flex;
                    justify-content: space-between;
                    font-size: 25px;
                    font-weight: bold;
                    color: var(--color-dark);
                    padding-bottom: 11px;
                }
            }
            .notice {
                width: 50%;
                ul {
                    border-bottom: 1px solid red;
                    .borders {
                        border-bottom: 1px solid var(--color-borders);
                    }
                    .notice-title {
                        color: var(--color-t-title);
                        a {
                            color: var(--color-t-title);
                        }
                    }
                    li {
                        p {
                            padding: 12px 0px;
                            font-size: var(--table-size);

                            a {
                            }
                        }
                    }
                }
            }
            .FAQ {
                width: 50%;
                ul {
                    border-bottom: 1px solid var(--color-gray);
                    .borders {
                        border-bottom: 1px solid var(--color-borders);
                    }
                    li {
                        p {
                            padding: 12px 0px;
                            font-size: var(--table-size);
                        }
                    }
                }
            }
        }
        section {
            width: 100%;
            height: 176vw;
            background: none;
            .main-banner {
                position: relative;
                padding: 0;
                figure:nth-of-type(1) {
                    text-align: center;
                    img {
                        display: none;
                        width: 100%;
                        content: url(../imgs/banner/map_m.png);
                        max-width: 100%;
                    }
                }
                figure:nth-of-type(2) {
                    padding: 100px 100px 100px 100px;
                    width: 100%;
                    height: 100%;
                    display: inline-block;
                    text-align: center;
                    margin: 0;
                    background: url(../imgs/banner/main_bn_m.jpg);
                    background-size: cover;
                    background-position: bottom;
                    img {
                        width: 100%;
                    }
                }
                map {
                    area {
                        &:hover {
                            cursor: pointer;
                        }
                    }
                }
            }
            .mobile-family {
                width: 100%;
                display: block;
            }
        }
    }
}
/* PC 모니터 사이즈 */
@media (min-width: 951px) and (max-width: 1400px) {
    header {
        width: 100%;
        margin: 0 auto;
        position: fixed;
        top: 0px;
        left: 0px;
        right: 0px;
        padding: 10px;
        height: 100px;
        background-color: rgba(255, 255, 255, 0.8);
        box-shadow: 0 2px 2px rgb(0, 0, 0, 0.2);
        z-index: 99;
        .header-container {
            width: 100%;
            max-width: 1800px;
            margin: 0 auto;
            height: 100%;
            align-items: center;
            justify-content: space-between;
            display: flex;
            position: relative;
            .main-menu {
                width: 100%;
                display: flex;
                justify-content: space-between;
                text-align: center;
                > li {
                    position: relative;
                    top: 0;
                    width: 25%;
                    height: 100%;
                    font-size: 1.71vw;
                    display: flex;
                    flex-direction: column;
                    ul {
                        width: 100%;
                        position: absolute;
                        top: 70px;
                        left: 0;
                        li {
                            width: 100%;
                            text-align: center;
                            font-size: 1.43vw;
                            padding: 10px 0px;
                            display: none;
                            height: 50px !important;
                            z-index: 50;
                            transition: 0.5s;
                            a {
                                color: white;
                                padding-bottom: 10px;
                                border-bottom: 4px solid rgba(255, 255, 255, 0);

                                &.mouseover {
                                    border-bottom: 4px solid rgba(255, 255, 255, 1);
                                    transition: .5s;
                                    
                                  }
                            }
                        }
                    }

                    >a {
                        position: relative;
                        display: block;
                        &:hover::after{
                            opacity: 0.5;
                            width: 100%;
                            transform: scaleX(1);
                        }
                        &.clicked::after {
                            width: 100%;
                            opacity: 1;
                            transform: scaleX(1);
                        }
                        &::after {
                            content: "";
                            width: 0%;
                            height: 6px;
                            transition:0.5s;
                            background-color: var(--color-salmon);
                            transform-origin: bottom;
                            position: absolute;
                            left:0;
                            bottom: -40px;
                        }
                      
                    }
                }
            }
            .mobile-menu {
                &:hover {
                    cursor: pointer;
                }
                .menu-close {
                    display: none;
                }
                .menu-ico {
                    width: 50px;
                    height: 50px;
                    font-size: 50px !important;
                    display: none !important;
                }
                .mobile-dropdown {
                    display: none;
                    position: fixed;
                    top: 100px;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    text-align: center;
                    background-color: #fffffffe;
                    opacity: 0.95;
                    .mobile-dropdown-container {
                        width: 100%;
                        height: 50%;
                        ul {
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            margin-top: 250px;
                            left: 0;
                            width: 100%;
                            li {
                                display: flex;
                                flex-direction: column;
                                margin-bottom: 20px;
                                font-size: 20px;
                                padding: 10px;

                                a {
                                    padding: 10px 10px;
                                }

                                &:hover::after {
                                    opacity: 1;
                                    transform: scaleY(1);
                                }

                                &::after {
                                    content: "";
                                    width: 100%;
                                    height: 4px;
                                    transition: opacity 1s, transform 1s;
                                    background-color: var(--color-salmon);
                                    transform-origin: bottom;
                                    opacity: 0;
                                    transform: scaleX(0);
                                }
                            }
                        }
                    }
                }
            }
            .header-logo {
                a {
                    img {
                        max-width: 100%;
                        min-width: 183px;
                    }
                }
            }

            .audio-container {
                width: 100%;
                display: flex;
                padding: 0px 20px;
                a {
                    img {
                        width: 25px;
                        height: 25px;
                    }
                }
            }
        }
    }
    main {
        width: 100%;
        margin: 0 auto;
        max-width: 1920px;
        position: relative;
        .dropdown-frame {
            position: fixed;
            display: none;
            width: 100%;
            height: 160px;
            top: 100px;
            left: 0;
            background-color: var(--color-salmon);
            z-index: 49;
        }
        article:nth-of-type(1) {
            width: 100%;
            max-width: 1100px;
            height: 435px;
            margin: 0 auto;

            .swiper {
                width: 100%;
                margin: 0 auto;
                top: 28%;
                overflow: hidden;

                .swiper-slide {
                    width: 100%;
                    text-align: center;
                    font-size: 18px;
                    background: #fff;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    a {
                        width: 100%;
                        > div {
                            width: 100%;
                            height: 33vw;
                            background-size: 100%;
                            background-repeat: no-repeat;
                        }
                    }
                }

                .slide-img1 {
                    background-image: url(../imgs/banner/key_648a6e4dd6f70_1.png);
                }
                .slide-img2 {
                    background-image: url(../imgs/banner/key_645325d79d056_1.png);
                }
                .slide-img3 {
                    background-image: url(../imgs/banner/key_64532541a2b37_1.png);
                }

                .swiper-slide img {
                    display: block;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
                .swiper-next {
                    width: 41px;
                    height: 41px;
                    background: url(../imgs/icon/slide_arrow.png) center no-repeat;
                    z-index: 99;
                    position: absolute;
                    right: 1%;
                    top: 50%;
                    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
                    border-radius: 200px;
                    transform: translate(-50%) rotate(180deg);
                    transition: 0.5s;
                    &:hover {
                        cursor: pointer;
                    }
                }
                .swiper-prev {
                    width: 41px;
                    height: 41px;
                    background: url(../imgs/icon/slide_arrow.png) center no-repeat;
                    z-index: 99;
                    position: absolute;
                    left: 1%;
                    top: 50%;
                    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
                    transform: translate(50%);
                    transition: 0.5s;
                    border-radius: 200px;
                    &:hover {
                        cursor: pointer;
                    }
                }

                .swiper-pagination-bullet {
                    width: 10px;
                    height: 10px;
                    background-color: var(--color-bullet);
                    &-active {
                        border: 2px solid red;
                        background-color: var(--color-white);
                    }
                }
            }
        }
        article:nth-of-type(2) {
            width: 100%;
            max-width: 1100px;
            display: flex;
            justify-content: center;
            margin: 0 auto;
            margin-top: 10vw;
            margin-bottom: 52px;
            div {
                margin: 30px;
                ul:nth-of-type(1) {
                    display: flex;
                    justify-content: space-between;
                    font-size: 25px;
                    font-weight: bold;
                    color: var(--color-dark);
                    padding-bottom: 11px;
                }
            }
            .notice {
                width: 50%;
                ul {
                    border-bottom: 1px solid red;
                    .borders {
                        border-bottom: 1px solid var(--color-borders);
                    }
                    .notice-title {
                        color: var(--color-t-title);
                        a {
                            color: var(--color-t-title);
                        }
                    }
                    li {
                        p {
                            padding: 12px 0px;
                            font-size: var(--table-size);

                            a {
                            }
                        }
                    }
                }
            }
            .FAQ {
                width: 50%;
                ul {
                    border-bottom: 1px solid var(--color-gray);
                    .borders {
                        border-bottom: 1px solid var(--color-borders);
                    }
                    li {
                        p {
                            padding: 12px 0px;
                            font-size: var(--table-size);
                        }
                    }
                }
            }
        }
        section {
            width: 100%;
            height: 1420px;
            background: url(../imgs/banner/main_bn.jpg) no-repeat center center;
            .main-banner {
                padding: 103px 0px 203px;
                figure:nth-of-type(2) {
                    text-align: center;
                    img {
                        display: none;
                    }
                }
                map {
                    area {
                        &:hover {
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }
}
