@import "_reset";

body {
    width: 100%;
    margin: 0 auto;
}
header {
    width: 100%;
    margin: 0 auto;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    padding: 10px;
    height: 100px;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 2px 2px rgb(0, 0, 0, 0.2);
    z-index: 99;
    .header-container {
        width: 100%;
        max-width: 1800px;
        margin: 0 auto;
        height: 100%;
        align-items: center;
        justify-content: space-between;
        display: flex;
        position: relative;
        .mobile-menu {
            &:hover {
                cursor: pointer;
            }
            .menu-close{
                display: none;
            }
            .menu-ico {
                width: 50px;
                height: 50px;
                font-size: 50px !important;
                display: none ;
            }
            .mobile-dropdown {
                display: none;
                position: fixed;
                top: 100px;
                left: 0;
                width: 100%;
                height: 100%;
                text-align: center;
                background-color: #fffffffe;
                opacity: 0.95;
                .mobile-dropdown-container {
                    width: 100%;
                    height: 50%;
                    ul {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        margin-top: 250px;
                        left: 0;
                        width: 100%;
                        li {
                            display: flex;
                            flex-direction: column;
                            margin-bottom: 20px;
                            font-size: 20px;
                            padding: 10px;

                            a {
                                padding: 10px 10px;
                            }

                            &:hover::after {
                                opacity: 1;
                                transform: scaleY(1);
                            }

                            &::after {
                                content: "";
                                width: 100%;
                                height: 4px;
                                transition: opacity 1s, transform 1s;
                                background-color: var(--color-salmon);
                                transform-origin: bottom;
                                opacity: 0;
                                transform: scaleX(0);
                            }
                        }
                    }
                }
            }
        }
        .header-logo {
            a {
                img {
                    max-width: 100%;
                    min-width: 183px;
                }
            }
        }
        > .main-menu {
            width: 100%;
            display: flex;
            justify-content: space-between;
            text-align: center;
            > li {
                position: relative;
                top: 0;
                width: 25%;
                height: 100%;
                font-size: 24px;
                display: flex;
                flex-direction: column;
                ul {
                    width: 100%;
                    position: absolute;
                    top: 250%;
                    left: 0;
                    li {
                        width: 100%;
                        text-align: center;
                        font-size: 20px;
                        padding: 10px 0px;
                        display: none;
                        height: 50px !important;
                        z-index: 50;
                        transition: 0.5s;
                        >a {
                            color: white;
                            padding-bottom: 5px;
                        }
                    }
                }
               > a {
                    &:hover::after {
                        opacity: 1;
                        transform: scaleY(1);
                    }
                    &::after {
                        content: "";
                        width: 100%;
                        height: 4px;
                        transition: opacity 1s, transform 1s;
                        background-color: var(--color-salmon);
                        transform-origin: bottom;
                        opacity: 0;
                        transform: scaleX(0);
                    }
                }
            }
        }
        .audio-container {
            width: 100%;
            display: flex;
            padding: 0px 20px;
            a {
                img {
                    width: 25px;
                    height: 25px;
                }
            }
        }
    }
}
main {
    width: 100%;
    margin: 0 auto;
    max-width: 1920px;
    position: relative;
    .dropdown-frame {
        position: fixed;
        display: none;
        width: 100%;
        height: 160px;
        top: 100px;
        left: 0;
        background-color: var(--color-salmon);
        z-index: 49;
    }
    article:nth-of-type(1) {
        width: 100%;
        max-width: 1100px;
        height: 435px;
        margin: 0 auto;

        .swiper {
            width: 100%;
            margin: 0 auto;
            top: 28%;
            overflow: hidden;
            .swiper-slide {
                width: 100%;
                text-align: center;
                font-size: 18px;
                background: #fff;
                display: flex;
                justify-content: center;
                align-items: center;
                a {
                    width: 100%;
                    > div {
                        width: 100%;
                        height: 24vw;
                        background-size: 100%;
                        background-repeat: no-repeat;
                    }
                }
            }

            .slide-img1 {
                background-image: url(../imgs/banner/key_648a6e4dd6f70_1.png);
            }
            .slide-img2 {
                background-image: url(../imgs/banner/key_645325d79d056_1.png);
            }
            .slide-img3 {
                background-image: url(../imgs/banner/key_64532541a2b37_1.png);
            }

            .swiper-slide img {
                display: block;
                width: 100%;
                height: 100%;
            }
            .swiper-next {
                width: 41px;
                height: 41px;
                background: url(../imgs/icon/slide_arrow.png) center no-repeat;
                z-index: 99;
                position: absolute;
                right: 1%;
                top: 50%;
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
                border-radius: 200px;
                transform: translate(-10%) rotate(180deg);
                &:hover {
                    cursor: pointer;
                }
            }
            .swiper-prev {
                width: 41px;
                height: 41px;
                background: url(../imgs/icon/slide_arrow.png) center no-repeat;
                z-index: 99;
                position: absolute;
                left: 1%;
                top: 50%;
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
                transform: translate(-10%);
                border-radius: 200px;
                &:hover {
                    cursor: pointer;
                }
            }

            .swiper-pagination-bullet {
                width: 10px;
                height: 10px;
                background-color: var(--color-bullet);
                &-active {
                    border: 2px solid red;
                    background-color: var(--color-white);
                }
            }
        }
    }
    article:nth-of-type(2) {
        width: 100%;
        max-width: 1100px;
        display: flex;
        justify-content: center;
        margin: 0 auto;
        margin-top: 10vw;
        margin-bottom: 52px;
        div {
            margin: 30px;
            ul:nth-of-type(1) {
                display: flex;
                justify-content: space-between;
                font-size: 25px;
                font-weight: bold;
                color: var(--color-dark);
                padding-bottom: 11px;
            }
        }
        .notice {
            width: 50%;
            ul {
                border-bottom: 1px solid red;
                .borders {
                    border-bottom: 1px solid var(--color-borders);
                }
                .notice-title {
                    color: var(--color-t-title);
                    a {
                        color: var(--color-t-title);
                    }
                }
                li {
                    p {
                        padding: 12px 0px;
                        font-size: var(--table-size);

                        a {
                        }
                    }
                }
            }
        }
        .FAQ {
            width: 50%;
            ul {
                border-bottom: 1px solid var(--color-gray);
                .borders {
                    border-bottom: 1px solid var(--color-borders);
                }
                li {
                    p {
                        padding: 12px 0px;
                        font-size: var(--table-size);
                    }
                }
            }
        }
    }
    section {
        width: 100%;
        height: 1420px;
        background: url(../imgs/banner/main_bn.jpg) no-repeat center center;
        .main-banner {
            padding: 103px 0px 203px;
            .mobile-mapimg{
                display: none;
            }
            figure {
                text-align: center;
            }
            map {
                area {
                    &:hover {
                        cursor: pointer;
                    }
                }
            }
        }
        .mobile-family{
            width: 100%;
            display: none;
        }
    }
}
footer {
    width: 100%;
    background-color: var(--color-footer);
    .footer-container {
        width: 100%;
        padding: 20px 10px;
        .footer-text {
            width: 100%;
            max-width: 1120px;
            margin: 0 auto;
            .footer-title {
                color: var(--color-white);
                font-size: 18px;
                font-weight: 700;
                margin-bottom: 15px;
                padding-top: 20px;
            }
            .footer-ptags {
                color: var(--color-white);
                font-size: var(--footer-font);
                line-height: 1.7;
                &:nth-of-type(4) {
                    margin-bottom: 20px;
                }
            }
            .license {
                color: var(--color-white);
                font-size: var(--footer-font);
                padding-bottom: 20px;
            }
        }
    }
}

@import "_me-index";
@import "_bottle","_suwonkt","_Eoeundol","_kislandcamping","_content";
@import "_reservation","_conent2page","_servicecenter","_FAQ";