$icons: (
    1: coffee,
    2: smartphone,
    3: ticket,
);

$texts: (
    1: 1번입니다,
    2: 2번입니다,
    3: 3번입니다,
);
// #{nth(변수명,인덱스값)}.확장자
// 여러개의 값을 가져다가 쓸대 사용

div {
    ul {
        display: flex;
        justify-content: center;
    }
    li {
        margin: 10px;
        figure {
            margin: 0;
            width: 200px;
            height: 200px;
            position: relative;
        }
        @each $number, $name in $texts {
            &:nth-child(#{$number}) > figure > figcaption::after {
                position: absolute;
                left: 25%;
                top: 110%;
                content: "#{$name}";
                color: black;
                font-size: 20px;
                font-weight: 700;
                text-align: center;
                z-index: 999;
                width: 100px;
                height: 50px;
            }
        }
        @each $number, $name in $icons {
            &:nth-child(#{$number}) > figure {
                background: url(../imgs/#{$name}.png) no-repeat center;
            }
        }
        border: 1px solid black;
        border-radius: 500px;
        box-shadow: 5px 5px rgba(0, 0, 0, 0.478);
    }
}
