#Reservation-main {
    .maininner {
        width: 100%;
        max-width: 1400px;
        margin: 0 auto;
        .status {
            width: 100%;
            max-width: 1400px;
            margin: 0 auto;
            border-bottom: 2px solid rgba(250, 128, 114, 0.531);
            padding: 50px;
            background-color: rgba(250, 128, 114, 0.411);
            .status-banner {
                width: 100%;
                max-width: 1400px;
                margin: 0 auto;

                ul {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    li {
                        width: 25%;
                        text-align: center;
                        a {
                            color: black;
                            font-size: 20px;
                            transition: 0.5s;
                            &:hover {
                                color: white;
                            }
                            &::after {
                                content: "";
                                width: 0%;
                                height: 5px;
                                background-color: salmon;
                                opacity: 0;
                            }
                        }
                    }
                }
                .checkin {
                    li {
                        margin-top: 20px;
                    }
                }
            }
        }
        .camping-list {
            width: 100%;
            margin-top: 20px;
            text-align: center;
            ul {
                display: flex;
                justify-content: center;
                li {
                    width: 33%;
                    margin-top: 20px;
                    border: 1px solid #858585;
                    margin-right: 10px;
                    padding: 15px;
                    border-radius: 40px;
                    transition: 0.5s;
                    &.active {
                        background-color: salmon;
                        border-color: white;
                        opacity: 1;
                        a {
                            color: white;
                        }
                    }
                    &:hover {
                        transform: translateY(-10px);
                        a {
                        }
                    }
                    a {
                        color: #858585;
                    }
                }
            }
        }
        .box-container {
            display: flex;
            justify-content: center;
            margin-top: 50px;
            .login {
                width: 40%;
                max-width: 1400px;
                display: flex;
                margin-right: 10px;
                justify-content: center;
                .login-box {
                    max-width: 1000px;
                    padding: 20px;
                    width: 100%;
                    border: 5px solid salmon;
                    border-radius: 15px;
                    background-color: #eee;
                    .login-title {
                        text-align: center;
                        h2 {
                            margin-bottom: 50px;
                        }
                        figure {
                            margin-bottom: 50px;
                        }
                    }
                    .userid {
                        p {
                            width: 100%;
                            background-color: black;
                            color: white;
                            padding: 10px;
                            text-align: center;
                        }
                        input {
                            width: 100%;
                            border: none;
                            outline-style: none;
                            padding: 10px;
                            &::placeholder {
                                text-align: center;
                            }
                        }
                    }
                    .userpw {
                        p {
                            width: 100%;
                            background-color: black;
                            color: white;
                            padding: 10px;
                            text-align: center;
                        }
                        input {
                            width: 100%;
                            border: none;
                            outline-style: none;
                            padding: 10px;
                            &::placeholder {
                                text-align: center;
                            }
                        }
                    }
                }
            }
            .info-check {
                width: 50%;
                border: 5px solid salmon;
                border-radius: 15px;
                .info-box {
                    padding: 20px;
                    width: 100%;
                    text-align: center;
                    p {
                        width: 100%;
                        background-color: black;
                        color: white;
                        padding: 10px;
                    }
                    input {
                        width: 100%;
                        padding: 10px;
                        outline-style: none;
                        &::placeholder {
                            text-align: center;
                        }
                    }
                    .info-title {
                        margin-bottom: 20px;
                    }
                }
            }
        }
        .Agree {
            width: 90%;
            margin: 30px auto;
            .Agree-inner {
                width: 100%;
                border: 1px solid #6f6e6e5d;
                div {
                    display: flex;
                    align-items: center;
                    margin-top: 10px;
                    border-bottom: 1px solid #6f6e6e5d;
                    padding-bottom: 15px;
                    padding-left: 10px;
                }
                span {
                    font-size: 12px;
                    color: red;
                    &.last-check {
                        color: #775c5c;
                    }
                }
                input {
                    width: 30px;
                    height: 30px;
                    margin-right: 10px;
                }
            }
        }
        .play-btn {
            width: 70%;
            max-width: 1400px;
            margin: 30px auto;
            button {
                width: 100%;
                height: 80px;
                border: none;
                background: none;
                color: salmon;
                font-size: 20px;
                box-shadow: 1px 1px 5px 0px black;
                border-radius: 10px;
                &:hover {
                    cursor: pointer;
                }
            }
        }
        .checkin {
            ul {
                li {
                    opacity: 0;
                    &.active {
                        opacity: 1;
                        animation-name: textani;
                        animation-duration: 1s;
                        animation-iteration-count: infinite;
                        @keyframes textani {
                            0% {
                                transform: rotate(0deg);
                                color: rgb(114, 114, 114);
                            }
                            20% {
                                transform: rotate(15deg);
                            }
                            40% {
                                transform: rotate(0deg);
                                color: rgb(114, 114, 114);
                            }
                            60% {
                                transform: rotate(-15deg);
                            }
                            80% {
                                transform: rotate(0deg);
                                color: rgb(114, 114, 114);
                            }
                            100% {
                                transform: rotate(0deg);
                            }
                        }
                    }
                }
            }
        }
    }
}
.Reservation-footer {
    width: 100%;
    padding: 0;
}
