$mobile: ("max-width:480px", "max-width:767px");
$tablet: ("min-width:768px", "max-width:1280px");
$pc: ("min-width:1280px");

// 값을받음 [2번째]
@mixin device($size) {
    @media ($size) {
        // 값을 활용함  [3번째]
        @content;
    }
}