@import "_reset";

header {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    height: 100px;
    align-items: center;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.282);
    transition: 0.5s;
    z-index: 99;
    .mobile-menu {
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.319);
        text-align: center;
        padding: 10px;
        display: none;
        ul {
            li {
                a {
                    &:hover {
                        color: white;
                    }
                }
            }
        }
        &.active {
            position: fixed;
            display: block;
            top: 0;
            left: 0;
            background-color: rgba(0, 0, 0, 0.872);
            z-index: 20;
            ul {
                display: flex;
                justify-content: center;
                flex-direction: column;
                margin-top: 250px;
                li {
                    list-style: none;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    margin-top: 10%;
                    a {
                        color: white;
                        &::after {
                            content: "";
                            width: 0%;
                            height: 3px;
                            display: inline-block;
                            background-color: white;
                            opacity: 0;
                        }
                        &:hover {
                            &::after {
                                opacity: 1;
                                width: 100%;
                                transition: 0.5s;
                                transform-origin: center;
                            }
                        }
                    }
                }
            }
        }
        ul {
            li {
                margin-bottom: 5px;
                a {
                    color: black;
                }
            }
        }
    }
    &:hover {
        background-color: black;
        cursor: pointer;
    }
    > nav {
        width: 30%;
        ul {
            display: flex;
            li {
                padding: 5px;
                a {
                    color: white;
                    font-size: 20px;
                }
            }
        }
        &:nth-of-type(2) {
            display: flex;
            justify-content: right;
        }
        &:nth-of-type(3) {
            display: none;
            transition: 0.5s;
            &.active {
                g {
                    z-index: 22;
                    span {
                        &:nth-of-type(1) {
                            transition: 0.5s;
                            transform: rotate(50deg) translateX(8px);
                        }
                        &:nth-of-type(2) {
                            display: none;
                        }
                        &:nth-of-type(3) {
                            transition: 0.5s;
                            transform: rotate(-50deg) translateX(6px);
                        }
                    }
                }
            }
            g {
                &:hover {
                    cursor: pointer;
                }
                span {
                    width: 20px;
                    height: 2px;
                    background-color: white;
                    display: block;
                    &:nth-of-type(2) {
                        margin-top: 5px;
                    }
                    &:nth-of-type(3) {
                        margin-top: 5px;
                    }
                }
            }
        }
        &:nth-of-type(1) {
            ul {
                li {
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                    &::after {
                        content: "";
                        width: 0%;
                        height: 3px;
                        background-color: white;
                        display: block;
                        transition: 0.5s;
                        transform-origin: center;
                        margin-top: 5px;
                    }
                    &:hover {
                        &::after {
                            width: 100%;
                        }
                    }
                }
            }
        }
        &:nth-of-type(2) {
            ul {
                li {
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                    &::after {
                        content: "";
                        width: 0%;
                        height: 3px;
                        background-color: white;
                        display: block;
                        transition: 0.5s;
                        transform-origin: center;
                        margin-top: 5px;
                    }
                    &:hover {
                        &::after {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
    > h2 {
        margin-left: 160px;
        > span {
            color: white;
            font-weight: bold;
            font-family: "NanumSquare";
            transition: 0.5s;
            animation: scaleAnimation 3.5s linear infinite;
            animation-delay: calc(0.1s * (var(--index) + 1));
            &:nth-of-type(1) {
                font-size: 30px;
            }
            @keyframes scaleAnimation {
                0%,
                100% {
                    font-size: 25px; /* 시작과 끝 지점, 원래 크기 */
                    opacity: 1; /* 글자가 보이도록 설정 */
                }
                50% {
                    font-size: 30px; /* 중간 지점, 크기가 두 배로 커짐 */
                    opacity: 0.5; /* 글자 투명도를 줄임 */
                }
            }
        }
    }
}
main {
    position: relative;

    article {
        &:nth-of-type(1) {
            position: sticky;
            margin: 0 auto;
            z-index: -99;
            width: 100%;

            .benner {
                width: 100%;
                max-width: 1400px;
                margin: 0 auto;
                video {
                    width: 100%;
                }
            }
        }
        &:nth-of-type(2) {
            width: 100%;
            height: 100px;
            transform: translateY(-105px);
            max-width: 1400px;
            margin: 0 auto;
            .deco1 {
                display: none;
                img {
                    width: 150px;
                    height: 150px;
                }
            }

            .site-items {
                ul {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    li {
                        width: 23%;
                        margin-top: 15px;
                        align-items: center;
                        display: flex;
                        justify-content: center;
                        &:nth-of-type(1) {
                            opacity: 0;
                            &.active {
                                opacity: 1;
                                transition: 0.5s;
                                a {
                                    figure {
                                        figcaption {
                                            display: block;
                                        }
                                    }
                                }
                            }
                        }
                        &:nth-of-type(2) {
                            opacity: 0;
                            &.active {
                                opacity: 1;
                                transition: 0.5s;
                                a {
                                    figure {
                                        figcaption {
                                            display: block;
                                        }
                                    }
                                }
                            }
                        }
                        &:nth-of-type(3) {
                            opacity: 1;
                            transform: translateX(100px);
                            figcaption {
                                transition: 0.5s;
                                display: block;
                            }
                            &.active {
                                opacity: 1;
                                transition: 0.5s;
                                transform: translateX(0);

                                a {
                                    figure {
                                        figcaption {
                                            display: block;
                                        }
                                    }
                                }
                            }
                        }
                        &:nth-of-type(4) {
                            opacity: 0;
                            &.active {
                                opacity: 1;
                                transition: 0.5s;
                                a {
                                    figure {
                                        figcaption {
                                            display: block;
                                        }
                                    }
                                }
                            }
                        }
                        &:nth-of-type(5) {
                            opacity: 0;
                            &.active {
                                opacity: 1;
                                transition: 0.5s;
                                a {
                                    figure {
                                        figcaption {
                                            display: block;
                                        }
                                    }
                                }
                            }
                        }
                        &:nth-of-type(6) {
                            opacity: 0;
                            &.active {
                                opacity: 1;
                                transition: 0.5s;
                                a {
                                    figure {
                                        figcaption {
                                            display: block;
                                        }
                                    }
                                }
                            }
                        }
                        a {
                            figure {
                                text-align: center;
                                transition: 0.5s;
                                img {
                                    width: 50px;
                                    height: 50px;
                                    border-radius: 200px;
                                }
                                figcaption {
                                    font-size: 14px;
                                    color: white;
                                    display: none;
                                }
                            }
                        }
                    }
                }
            }
        }
        &.event-article {
            width: 100%;
            max-width: 1400px;
            padding: 10px;
            margin: 0 auto;
            text-align: center;
            .ar3-container {
                display: flex;
                flex-direction: column;
                width: 100%;
                .event-container {
                    width: 100%;
                    margin-top: 60px;
                    h2 {
                        margin-bottom: 30px;
                        font-size: 2em;
                        a {
                            opacity: 0.5;
                            font-weight: 500;
                            color: black;
                            border-bottom: 1.5px solid #919090;
                            padding-bottom: 10px;
                        }
                    }
                    .eventbox-con {
                        width: 50%;
                        margin: 0 auto;
                        display: flex;
                        justify-content: center;

                        figure {
                            margin-right: 10px;
                            position: relative;
                            &:hover {
                                cursor: pointer;
                            }
                            a {
                                img {
                                    width: 400px;
                                }
                            }
                            figcaption {
                                font-size: 20px;
                                white-space: nowrap;
                                overflow: hidden;
                                text-overflow: ellipsis;
                                padding: 10px;
                            }
                        }
                        .event-box1 {
                            figure {
                                .hover-box1 {
                                    width: 400px;
                                    height: 400px;
                                    background-color: rgba(0, 0, 0, 0.396);
                                    position: absolute;
                                    top: 0;
                                    left: 0;
                                    &.active {
                                        opacity: 1;
                                        transition: 0.5s;
                                    }
                                    p {
                                        width: 50px;
                                        height: 50px;
                                        background-color: rgba(0, 0, 0, 0.396);
                                        color: white;
                                        border: 2px solid white;
                                        border-radius: 200px;
                                        width: 50%;
                                        padding: 5px;
                                        position: absolute;
                                        top: 40%;
                                        left: 25%;
                                        display: flex;
                                        justify-content: center;
                                        align-items: center;
                                    }
                                    opacity: 0;
                                }
                            }
                        }
                        .event-box2 {
                            figure {
                                .hover-box2 {
                                    width: 400px;
                                    height: 400px;
                                    background-color: rgba(0, 0, 0, 0.396);
                                    position: absolute;
                                    top: 0;
                                    left: 0;
                                    &.active {
                                        opacity: 1;
                                        transition: 0.5s;
                                    }
                                    p {
                                        width: 50px;
                                        height: 50px;
                                        background-color: rgba(0, 0, 0, 0.396);
                                        color: white;
                                        border: 2px solid white;
                                        border-radius: 200px;
                                        width: 50%;
                                        padding: 5px;
                                        position: absolute;
                                        top: 40%;
                                        left: 25%;
                                        display: flex;
                                        justify-content: center;
                                        align-items: center;
                                    }
                                    opacity: 0;
                                }
                            }
                        }
                    }
                }
                .swiper-container {
                    justify-content: center;
                    width: 100%;
                    margin: 0 auto;
                    display: flex;
                    margin-top: 60px;
                    flex-direction: column;

                    h2 {
                        margin-bottom: 30px;
                        font-size: 2em;
                        a {
                            opacity: 0.5;
                            font-weight: 500;
                            color: black;
                            border-bottom: 1.5px solid #919090;
                            padding-bottom: 10px;
                        }
                    }
                    .swiper {
                        width: 100%;
                        height: 300px;
                    }
                    .swiper-slide {
                        width: 100%;
                        height: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-size: 22px;
                        font-weight: bold;
                        color: #fff;
                        a {
                            img {
                                width: 100%;
                            }
                        }
                    }

                    .swiper-slide:nth-child(1n) {
                    }
                }
            }
            &:nth-of-type(4) {
                width: 100%;
                max-width: 1400px;
                margin: 0 auto;
            }
            &:nth-of-type(5) {
                width: 100%;
                max-width: 1400px;
                margin: 0 auto;
                position: relative;
            }
        }
        &.kisland-article {
            width: 100%;
            max-width: 1400px;
            padding: 10px 10px 0px 10px;
            margin: 0 auto;
            text-align: center;
            position: relative;
            .deco1 {
                position: absolute;
                top: -40px;
                left: 20px;
                transform: scaleY(-1);
                z-index: -9;
                animation: cat2 1.5s infinite;
                @keyframes cat2 {
                    0% {
                        transform: rotateX(0deg) scaleX(-1);
                    }
                    50% {
                        transform: rotate(-10deg) scaleX(-1);
                    }
                    100% {
                        transform: rotateX(0deg) scaleX(-1);
                    }
                }
                img {
                    width: 150px;
                    height: 150px;
                }
            }
            h2 {
                margin-bottom: 30px;
                a {
                    opacity: 0.5;
                    font-weight: 500;
                    color: black;
                    border-bottom: 1.5px solid #919090;
                    padding-bottom: 10px;
                    font-size: 1.5em;
                }
            }
            video {
                width: 100%;
            }
        }
        &.swiper2-article {
            width: 100%;
            max-width: 1400px;
            margin: 0 auto;
            padding: 0px 10px 0px 10px;
            text-align: center;
            .swiper {
                width: 100%;
                .swiper-pagination {
                    bottom: 0 !important;
                }
                .swiper-slide {
                    text-align: center;
                    font-size: 18px;
                    background: #fff;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    img {
                        width: 100%;
                        min-width: 100%;
                        height: 100%;
                    }
                }

                .autoplay-progress {
                    position: absolute;
                    right: 16px;
                    bottom: 16px;
                    z-index: 10;
                    width: 48px;
                    height: 48px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-weight: bold;
                    color: var(--swiper-theme-color);
                    svg {
                        --progress: 0;
                        position: absolute;
                        left: 0;
                        top: 0px;
                        z-index: 10;
                        width: 100%;
                        height: 100%;
                        stroke-width: 4px;
                        stroke: var(--swiper-theme-color);
                        fill: none;
                        stroke-dashoffset: calc(125.6 * (1 - var(--progress)));
                        stroke-dasharray: 125.6;
                        transform: rotate(-90deg);
                    }
                }
                .swiper-button-next {
                    background: url(../imgs/png/slide_arrow.png);
                    z-index: 99;
                    width: 41px;
                    height: 41px;
                    transform: rotate(180deg);
                    &::after {
                        content: "";
                    }
                }
                .swiper-button-prev {
                    background: url(../imgs/png/slide_arrow.png);
                    z-index: 99;
                    width: 41px;
                    height: 41px;
                    &::after {
                        content: "";
                    }
                }
            }
        }
    }
}
#index-footer {
    width: 100%;
    max-width: 1400px;
    margin: 5px auto;
    padding: 0px 10px 0px 10px;
    .footer-inner {
        width: 100%;
        margin: 0 auto;
        padding: 20px 0px 20px 10px;
        background-color: black;
        .footer-title {
            padding-left: 10px;
        }
        .footer-text {
            padding: 10px;
            p {
                color: white;
                font-size: 14px;
                line-height: 20px;
                &:nth-of-type(6) {
                    margin-top: 10px;
                }
            }
        }
    }
}
@media (max-width: 768px) {
    header {
        nav {
            &:nth-of-type(1) {
                display: none;
            }
            &:nth-of-type(2) {
                display: none;
            }
            &:nth-of-type(3) {
                width: 20%;
                display: flex;
                justify-content: right;
                g {
                    span {
                        width: 30px;
                        height: 3px;
                        &:nth-of-type(2) {
                            margin-top: 8px;
                        }
                        &:nth-of-type(3) {
                            margin-top: 8px;
                        }
                    }
                }
            }
        }
        h2 {
            display: flex;
            justify-content: left;
            width: 80%;
            text-align: center;
            span {
                margin-right: 5px;
            }
        }
    }
    main {
        article {
            &:nth-of-type(2) {
                transition: 0.5s;
                transform: translateY(0);
                .site-items {
                    ul {
                        li {
                            opacity: 1 !important;
                            &:nth-of-type(3) {
                                transform: translateX(0px);
                            }
                            a {
                                figure {
                                    figcaption {
                                        display: block;
                                        color: black;
                                        font-size: 10px;
                                    }
                                }
                            }
                        }
                    }
                }
                .deco1 {
                    display: none;
                }
            }
            &.event-article {
                .eventbox-con {
                    width: 100% !important;
                    flex-direction: column;
                    .event-box1 {
                        figure {
                            a {
                                img {
                                    width: 100% !important;
                                }
                            }
                            .hover-box1 {
                                width: 100% !important;
                                height: 100% !important;
                            }
                        }
                    }
                    .event-box2 {
                        figure {
                            a {
                                img {
                                    width: 100% !important;
                                }
                            }
                            .hover-box2 {
                                width: 100% !important;
                                height: 100% !important;
                            }
                        }
                    }
                }
            }
            &.kisland-article {
                .deco1 {
                    img {
                        opacity: 0.7;
                    }
                }
            }
            &:nth-of-type(4) {
                .deco1 {
                    top: 0;
                    img {
                        width: 100px;
                        height: 100px;
                    }
                }
            }
        }
    }
}

@media (max-width: 468px) {
    article {
        &:nth-of-type(5) {
            .swiper-container {
                .swiper {
                    .swiper-slide-shadow .swiper-slide-shadow-creative {
                        background: none;
                    }
                }
            }
        }
    }
}
