@charset "UTF-8";
@font-face {
  font-family: "NanumSquare";
  src: url("../font/NanumSquareB.ttf") format("truetype");
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "NanumSquare";
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

body .top-btn {
  position: fixed;
  width: 50px;
  height: 50px;
  bottom: 20px;
  right: 20px;
  z-index: 99;
  opacity: 0.5;
  transition: 0.5s;
}
body .top-btn:hover {
  cursor: pointer;
  opacity: 1;
}
body .top-btn img {
  width: 100%;
  transform: rotate(-90deg);
}
body .github {
  position: fixed;
  opacity: 0.5;
  bottom: 80px;
  right: 20px;
  z-index: 99;
  width: 50px;
  height: 50px;
}
body .github:hover {
  opacity: 1;
}
body .github img {
  width: 100%;
}

header {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  height: 100px;
  align-items: center;
  padding: 10px;
  background-color: rgba(201, 201, 201, 0.1);
  transition: 0.5s;
  z-index: 99;
  position: fixed;
}
header:hover {
  background-color: black;
  cursor: pointer;
}
header:hover ul li a {
  color: white;
}
header .mobile-menu {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.319);
  text-align: center;
  padding: 10px;
  display: none;
}
header .mobile-menu ul li a:hover {
  color: white;
}
header .mobile-menu.active {
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.872);
  z-index: 20;
}
header .mobile-menu.active ul {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 250px;
}
header .mobile-menu.active ul li {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10%;
}
header .mobile-menu.active ul li a {
  color: white;
}
header .mobile-menu.active ul li a::after {
  content: "";
  width: 0%;
  height: 3px;
  display: inline-block;
  background-color: white;
  opacity: 0;
}
header .mobile-menu.active ul li a:hover::after {
  opacity: 1;
  width: 100%;
  transition: 0.5s;
  transform-origin: center;
}
header .mobile-menu ul li {
  margin-bottom: 5px;
}
header .mobile-menu ul li a {
  color: black;
}
header > nav {
  width: 30%;
}
header > nav ul {
  display: flex;
}
header > nav ul li {
  padding: 5px;
}
header > nav ul li a {
  color: white;
  font-size: 20px;
}
header > nav:nth-of-type(2) {
  display: flex;
  justify-content: right;
}
header > nav:nth-of-type(3) {
  display: none;
  transition: 0.5s;
}
header > nav:nth-of-type(3).active g {
  z-index: 22;
}
header > nav:nth-of-type(3).active g span:nth-of-type(1) {
  transition: 0.5s;
  transform: rotate(50deg) translateX(8px);
}
header > nav:nth-of-type(3).active g span:nth-of-type(2) {
  display: none;
}
header > nav:nth-of-type(3).active g span:nth-of-type(3) {
  transition: 0.5s;
  transform: rotate(-50deg) translateX(6px);
}
header > nav:nth-of-type(3) g:hover {
  cursor: pointer;
}
header > nav:nth-of-type(3) g span {
  width: 20px;
  height: 2px;
  background-color: white;
  display: block;
}
header > nav:nth-of-type(3) g span:nth-of-type(2) {
  margin-top: 5px;
}
header > nav:nth-of-type(3) g span:nth-of-type(3) {
  margin-top: 5px;
}
header > nav:nth-of-type(1) ul li {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
header > nav:nth-of-type(1) ul li a {
  font-size: 20px;
}
header > nav:nth-of-type(1) ul li:nth-of-type(1) {
  transform: translateY(-2px);
}
header > nav:nth-of-type(1) ul li::after {
  content: "";
  width: 0%;
  height: 3px;
  background-color: white;
  display: block;
  transition: 0.5s;
  transform-origin: center;
  margin-top: 5px;
}
header > nav:nth-of-type(1) ul li:hover::after {
  width: 100%;
}
header > nav:nth-of-type(2) ul li {
  display: flex;
  align-items: center;
  flex-direction: column;
}
header > nav:nth-of-type(2) ul li::after {
  content: "";
  width: 0%;
  height: 3px;
  background-color: white;
  display: block;
  transition: 0.5s;
  transform-origin: center;
  margin-top: 5px;
}
header > nav:nth-of-type(2) ul li:hover::after {
  width: 100%;
}
header > h2 {
  margin-left: 160px;
}
header > h2 > span {
  color: white;
  font-weight: bold;
  font-family: "NanumSquare";
  transition: 0.5s;
  animation: scaleAnimation 3.5s linear infinite;
  animation-delay: calc(0.1s * (var(--index) + 1));
}
header > h2 > span:nth-of-type(1) {
  font-size: 30px;
}
@keyframes scaleAnimation {
  0%, 100% {
    font-size: 25px; /* 시작과 끝 지점, 원래 크기 */
    opacity: 1; /* 글자가 보이도록 설정 */
  }
  50% {
    font-size: 30px; /* 중간 지점, 크기가 두 배로 커짐 */
    opacity: 0.5; /* 글자 투명도를 줄임 */
  }
}

main {
  position: relative;
}
main article:nth-of-type(1) {
  position: sticky;
  margin: 0 auto;
  z-index: -99;
  width: 100%;
}
main article:nth-of-type(1) .benner {
  width: 100%;
  margin: 0 auto;
}
main article:nth-of-type(1) .benner video {
  width: 100%;
}
main article:nth-of-type(2) {
  width: 100%;
  height: 100px;
  transform: translateY(-105px);
  max-width: 1400px;
  margin: 0 auto;
}
main article:nth-of-type(2) .deco1 {
  display: none;
}
main article:nth-of-type(2) .deco1 img {
  width: 150px;
  height: 150px;
}
main article:nth-of-type(2) .site-items ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main article:nth-of-type(2) .site-items ul li {
  width: 23%;
  margin-top: 15px;
  align-items: center;
  display: flex;
  justify-content: center;
}
main article:nth-of-type(2) .site-items ul li:nth-of-type(1) {
  opacity: 0;
}
main article:nth-of-type(2) .site-items ul li:nth-of-type(1).active {
  opacity: 1;
  transition: 0.5s;
}
main article:nth-of-type(2) .site-items ul li:nth-of-type(1).active a figure figcaption {
  display: block;
}
main article:nth-of-type(2) .site-items ul li:nth-of-type(2) {
  opacity: 0;
}
main article:nth-of-type(2) .site-items ul li:nth-of-type(2).active {
  opacity: 1;
  transition: 0.5s;
}
main article:nth-of-type(2) .site-items ul li:nth-of-type(2).active a figure figcaption {
  display: block;
}
main article:nth-of-type(2) .site-items ul li:nth-of-type(3) {
  opacity: 1;
  transform: translateX(100px);
}
main article:nth-of-type(2) .site-items ul li:nth-of-type(3) figcaption {
  transition: 0.5s;
  display: block;
}
main article:nth-of-type(2) .site-items ul li:nth-of-type(3).active {
  opacity: 1;
  transition: 0.5s;
  transform: translateX(0);
}
main article:nth-of-type(2) .site-items ul li:nth-of-type(3).active a figure figcaption {
  display: block;
}
main article:nth-of-type(2) .site-items ul li:nth-of-type(4) {
  opacity: 0;
}
main article:nth-of-type(2) .site-items ul li:nth-of-type(4).active {
  opacity: 1;
  transition: 0.5s;
}
main article:nth-of-type(2) .site-items ul li:nth-of-type(4).active a figure figcaption {
  display: block;
}
main article:nth-of-type(2) .site-items ul li:nth-of-type(5) {
  opacity: 0;
}
main article:nth-of-type(2) .site-items ul li:nth-of-type(5).active {
  opacity: 1;
  transition: 0.5s;
}
main article:nth-of-type(2) .site-items ul li:nth-of-type(5).active a figure figcaption {
  display: block;
}
main article:nth-of-type(2) .site-items ul li:nth-of-type(6) {
  opacity: 0;
}
main article:nth-of-type(2) .site-items ul li:nth-of-type(6).active {
  opacity: 1;
  transition: 0.5s;
}
main article:nth-of-type(2) .site-items ul li:nth-of-type(6).active a figure figcaption {
  display: block;
}
main article:nth-of-type(2) .site-items ul li a figure {
  text-align: center;
  transition: 0.5s;
}
main article:nth-of-type(2) .site-items ul li a figure img {
  width: 50px;
  height: 50px;
  border-radius: 200px;
}
main article:nth-of-type(2) .site-items ul li a figure figcaption {
  font-size: 14px;
  color: white;
  display: none;
}
main article.event-article {
  width: 100%;
  max-width: 1400px;
  padding: 10px;
  margin: 0 auto;
  text-align: center;
}
main article.event-article .ar3-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}
main article.event-article .ar3-container .event-container {
  width: 100%;
  margin-top: 60px;
}
main article.event-article .ar3-container .event-container h2 {
  margin-bottom: 30px;
  font-size: 2em;
}
main article.event-article .ar3-container .event-container h2 a {
  opacity: 0.7;
  font-weight: 500;
  color: black;
  border-bottom: 1.5px solid #919090;
  padding-bottom: 10px;
}
main article.event-article .ar3-container .event-container .eventbox-con {
  width: 50%;
  margin: 50px auto;
  display: flex;
  justify-content: center;
}
main article.event-article .ar3-container .event-container .eventbox-con figure {
  margin-right: 10px;
  position: relative;
}
main article.event-article .ar3-container .event-container .eventbox-con figure:hover {
  cursor: pointer;
}
main article.event-article .ar3-container .event-container .eventbox-con figure a img {
  width: 400px;
}
main article.event-article .ar3-container .event-container .eventbox-con figure figcaption {
  font-size: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 10px;
}
main article.event-article .ar3-container .event-container .eventbox-con .event-box1 figure .hover-box1 {
  width: 400px;
  height: 400px;
  background-color: rgba(0, 0, 0, 0.396);
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}
main article.event-article .ar3-container .event-container .eventbox-con .event-box1 figure .hover-box1.active {
  opacity: 1;
  transition: 0.5s;
}
main article.event-article .ar3-container .event-container .eventbox-con .event-box1 figure .hover-box1 p {
  width: 50px;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.396);
  color: white;
  border: 2px solid white;
  border-radius: 200px;
  width: 50%;
  padding: 5px;
  position: absolute;
  top: 40%;
  left: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}
main article.event-article .ar3-container .event-container .eventbox-con .event-box2 figure .hover-box2 {
  width: 400px;
  height: 400px;
  background-color: rgba(0, 0, 0, 0.396);
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}
main article.event-article .ar3-container .event-container .eventbox-con .event-box2 figure .hover-box2.active {
  opacity: 1;
  transition: 0.5s;
}
main article.event-article .ar3-container .event-container .eventbox-con .event-box2 figure .hover-box2 p {
  width: 50px;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.396);
  color: white;
  border: 2px solid white;
  border-radius: 200px;
  width: 50%;
  padding: 5px;
  position: absolute;
  top: 40%;
  left: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}
main article.event-article .ar3-container .swiper-container {
  justify-content: center;
  width: 100%;
  margin: 80px auto;
  display: flex;
  margin-top: 60px;
  flex-direction: column;
  padding: 10px;
}
main article.event-article .ar3-container .swiper-container h2 {
  margin-bottom: 30px;
  font-size: 2em;
}
main article.event-article .ar3-container .swiper-container h2 a {
  opacity: 0.7;
  font-weight: 500;
  color: black;
  border-bottom: 1.5px solid #919090;
  padding-bottom: 10px;
}
main article.event-article .ar3-container .swiper-container .swiper {
  width: 100%;
  height: 300px;
}
main article.event-article .ar3-container .swiper-container .swiper-slide {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
}
main article.event-article .ar3-container .swiper-container .swiper-slide a img {
  width: 100%;
}
main article.event-article:nth-of-type(4) {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
}
main article.event-article:nth-of-type(5) {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  position: relative;
}
main article.kisland-article {
  width: 100%;
  max-width: 1400px;
  padding: 10px 10px 0px 10px;
  margin: 0 auto;
  text-align: center;
  position: relative;
}
main article.kisland-article .deco1 {
  position: absolute;
  top: -40px;
  left: 20px;
  transform: scaleY(-1);
  z-index: -9;
  animation: cat2 1.5s infinite;
}
@keyframes cat2 {
  0% {
    transform: rotateX(0deg) scaleX(-1);
  }
  50% {
    transform: rotate(-10deg) scaleX(-1);
  }
  100% {
    transform: rotateX(0deg) scaleX(-1);
  }
}
main article.kisland-article .deco1 img {
  width: 150px;
  height: 150px;
}
main article.kisland-article h2 {
  margin-bottom: 30px;
}
main article.kisland-article h2 a {
  opacity: 0.5;
  font-weight: 500;
  color: black;
  border-bottom: 1.5px solid #919090;
  padding-bottom: 10px;
  font-size: 1.5em;
}
main article.kisland-article video {
  width: 100%;
}
main article.swiper2-article {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0px 10px 0px 10px;
  text-align: center;
}
main article.swiper2-article .swiper {
  width: 100%;
}
main article.swiper2-article .swiper .swiper-pagination {
  bottom: 10% !important;
}
main article.swiper2-article .swiper .swiper-pagination .swiper-pagination-bullet {
  background-color: salmon;
}
main article.swiper2-article .swiper .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
main article.swiper2-article .swiper .swiper-slide img {
  width: 100%;
  min-width: 100%;
  height: 100%;
}
main article.swiper2-article .swiper .autoplay-progress {
  position: absolute;
  right: 16px;
  bottom: 10%;
  z-index: 10;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: var(--swiper-theme-color);
}
main article.swiper2-article .swiper .autoplay-progress svg {
  --progress: 0;
  position: absolute;
  left: 0;
  top: 0px;
  z-index: 10;
  width: 100%;
  height: 100%;
  stroke-width: 4px;
  stroke: var(--swiper-theme-color);
  fill: none;
  stroke-dashoffset: calc(125.6 * (1 - var(--progress)));
  stroke-dasharray: 125.6;
  transform: rotate(-90deg);
}
main article.swiper2-article .swiper .swiper-button-next {
  background: url(../imgs/png/slide_arrow.png);
  z-index: 99;
  width: 41px;
  height: 41px;
  transform: rotate(180deg);
}
main article.swiper2-article .swiper .swiper-button-next::after {
  content: "";
}
main article.swiper2-article .swiper .swiper-button-prev {
  background: url(../imgs/png/slide_arrow.png);
  z-index: 99;
  width: 41px;
  height: 41px;
}
main article.swiper2-article .swiper .swiper-button-prev::after {
  content: "";
}

#index-footer {
  width: 100%;
  margin: 5px auto;
  padding: 0px 10px 0px 10px;
  background-color: black;
}
#index-footer .footer-inner {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 20px 0px 20px 10px;
}
#index-footer .footer-inner .footer-title {
  padding-left: 10px;
}
#index-footer .footer-inner .footer-text {
  padding: 10px;
}
#index-footer .footer-inner .footer-text p {
  color: white;
  font-size: 14px;
  line-height: 20px;
}
#index-footer .footer-inner .footer-text p:nth-of-type(6) {
  margin-top: 10px;
}

@media (max-width: 768px) {
  header nav:nth-of-type(1) {
    display: none;
  }
  header nav:nth-of-type(2) {
    display: none;
  }
  header nav:nth-of-type(3) {
    width: 20%;
    display: flex;
    justify-content: right;
  }
  header nav:nth-of-type(3) g span {
    width: 30px;
    height: 3px;
  }
  header nav:nth-of-type(3) g span:nth-of-type(2) {
    margin-top: 8px;
  }
  header nav:nth-of-type(3) g span:nth-of-type(3) {
    margin-top: 8px;
  }
  header h2 {
    display: flex;
    justify-content: left;
    width: 80%;
    text-align: left;
    margin-left: 0;
  }
  header h2 span {
    margin-right: 5px;
  }
  main article:nth-of-type(2) {
    transition: 0.5s;
    transform: translateY(0);
  }
  main article:nth-of-type(2) .site-items ul li {
    opacity: 1 !important;
  }
  main article:nth-of-type(2) .site-items ul li:nth-of-type(3) {
    transform: translateX(0px);
  }
  main article:nth-of-type(2) .site-items ul li a figure figcaption {
    display: block;
    color: black;
    font-size: 10px;
  }
  main article:nth-of-type(2) .deco1 {
    display: none;
  }
  main article.event-article .eventbox-con {
    width: 100% !important;
    flex-direction: column;
  }
  main article.event-article .eventbox-con .event-box1 figure a img {
    width: 100% !important;
  }
  main article.event-article .eventbox-con .event-box1 figure .hover-box1 {
    width: 100% !important;
    height: 100% !important;
  }
  main article.event-article .eventbox-con .event-box2 figure a img {
    width: 100% !important;
  }
  main article.event-article .eventbox-con .event-box2 figure .hover-box2 {
    width: 100% !important;
    height: 100% !important;
  }
  main article.kisland-article .deco1 img {
    opacity: 0;
  }
  main article:nth-of-type(4) .deco1 {
    top: 0;
  }
  main article:nth-of-type(4) .deco1 img {
    width: 100px;
    height: 100px;
  }
}
@media (max-width: 468px) {
  article:nth-of-type(5) .swiper-container .swiper .swiper-slide-shadow .swiper-slide-shadow-creative {
    background: none;
  }
}
@media (min-width: 768px) and (max-width: 1010px) {
  header nav ul li a {
    font-size: 15px;
  }
  header nav:nth-of-type(1) ul li a {
    font-size: 15px;
  }
}/*# sourceMappingURL=index.css.map */